@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-action="cadastrar" asp-controller="feitico">
        Cadastro de Feitiço
    </a>
    <a asp-action="Index" asp-controller="feitico">
        Livro de Feitiços
    </a>
</div>