@model Feitico

<div class="mb-3">
    <label asp-for="Nome"></label>
    <input asp-for="Nome" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Descricao"></label>
    <input asp-for="Descricao" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="NivelDificuldade"></label>
    <input asp-for="NivelDificuldade" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Tipo"></label>
    <select asp-for="Tipo" asp-items="@Html.GetEnumSelectList<Tipo>()" class="form-select">
        <option>Selecione</option>
    </select>
</div>
<div class="mb-3">
    <label asp-for="DataDescoberta"></label>
    <input asp-for="DataDescoberta" class="form-control" />
</div>
<div class="mb-3">
    <input asp-for="Varinha" />
    <label asp-for="Varinha"></label>
</div>